body {margin:0;}
#d
        {
            top:0;
            margin:0;
            padding:0;
           margin-top:0px;
            height:200px;
            
            background-color:black;
           
        }
        
        
        ul {
          list-style-type: none;
          
          margin-left:280px;
          z-index:1;
          padding:15px;
          overflow: hidden;
          background-color: #333;
          position:fixed;
          top: 0;
          margin-top:0px;
          width: 100%;
        }
        

li {
  float: left;
}

li a  {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-size:20px;
}

li a:hover{
    background-color: rgba(90, 85, 85, 0.527);
    color: rosybrown;
}

li.dropdown
{
    display:inline-block;
    border-right:0px;
}
.dropdown-content {
  display: none;
  position:relative;
  background-color:darkslategray;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(90, 148, 175, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color:black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown:hover .dropdown-content {
  display:block;
  
 
}

/*li a:hover:not(.active) {
  background-color:rgba(173, 156, 167, 0.5);
}

.active {
  background-color:rgba(88, 85, 86, 0.5);
}*/
#i{
    height:100px;
    width:100px;
    margin-left:40px;
    margin-top:20px;
    padding-top:0px;
    padding-left:0px;
    
}
#stu
{
  height :200px;
  width:100%
  margin-left:300px;
  position:absolute;
}
.welcome
{
 
  
  top:0px;
  position: relative; 
  background-repeat: no-repeat;
  background-size: cover; 
  height:200px;
  width:100%;
  background-color:#A1C6F7;
}
h1
{
  position: absolute;
  top:23%;
  left:45%;
  font-size: 80px;
  
  padding-left:110px;
  animation: mymove 4s infinite;
  
  animation-timing-function: ease;
  transform: translate(-50%, -50%);
  animation-fill-mode: forwards;
}

  .backimg
  {
    
  
   -webkit-background-size:cover;
   background-repeat: no-repeat;
    background-size: cover; 
  background-position:center;
   filter: blur(8px);
    -webkit-filter: blur(8px);
    height:100;
  
}



.centered {
  color:black;
 background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  font-size: 100px;
  font-family:Montaga; 
  position: absolute;
  top: 100%;
  left: 50%;
  text-align: center;
  opacity: inherit;
  border: 3px solid #f1f1f1;
  transform: translate(-50%, -50%);
  z-index:2;
  font-weight:bold;
  }
  @media screen and (max-width: 500px)
{
  .d 
  {
    display:block;
    float:none;
    height:250px;
  }
 #i
 {
   height:40px;
   width:40px;
 }
 
 ul
{
  display: inline;
margin-top:70px;
padding-top:20px;
  padding-left:30px;
  margin-left:20px;
  height:auto;
  width:auto;
}
 
  li a 
  {
    float :none;
    display: inline;
    width:100%;
    margin:0px;
    padding:10px;
    font-size:18px;
    text-align: left;

}

.welcome{
  
  padding-top:60px;
}
h1{
 padding:50px;
 margin:70px;
  font-size:50px;
}
#stu
{
  height:70px;
  width:70px;
}
.backimg
{
  height:700px;
}
.centered
{
  font-size:70px;
}
}
@keyframes mymove {
  from {left: 20%;font-weight: bolder;}
  to {left: 50%; font-weight: bolder;}
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: #74A17A;}
  70%  {color: #1F0101;}
    85%  {color: #1a1aff;}
  
  100% {color: white;}
}